







#hero-image {
    background: url(/web-preview/preview-v3/assets/images/USGS-collage.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#hero-content-container {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    min-height: 300px;
}
